@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --main-background: var(--dark-background);
        --main-search-background: var(--dark-search-background);
        --main-sidebar-background: var(--dark-sidebar-background);
        --main-accent: var(--accent-blue);

        --dark-background: 0 0 0;
        --dim-background: 22 33 44;
        --light-background: 255 255 255;

        --dark-search-background: 32 35 39;
        --dim-search-background: 39 51 64;
        --light-search-background: 239 243 244;

        --dark-sidebar-background: 22 24 28;
        --dim-sidebar-background: 30 39 50;
        --light-sidebar-background: 247 249 249;

        --accent-yellow: 255 213 0;
        --accent-blue: 29 155 240;
        --accent-pink: 249 26 130;
        --accent-purple: 120 87 255;
        --accent-orange: 255 122 0;
        --accent-green: 0 184 122;
    }
}
